{% extends 'layouts/frontend.html.twig' %}

{% block title %}
E-Shopper
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('frontend/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('frontend/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ asset('frontend/css/prettyPhoto.css') }}" rel="stylesheet">
<link href="{{ asset('frontend/css/price-range.css') }}" rel="stylesheet">
<link href="{{ asset('frontend/css/animate.css') }}" rel="stylesheet">
<link href="{{ asset('frontend/css/main.css') }}" rel="stylesheet">
<link href="{{ asset('frontend/css/responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block categoriesMenu %}
{% for menu in categories %}
<li><a href="" class="active">{{ menu.name }}</a></li>
{% endfor %}

{% endblock %}

{% block baseMenu %}
<li><a href="index.html" class="active">Home</a></li>
<li><a href=""></a></li>
<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
<ul role="menu" class="sub-menu">
    <li><a href="shop.html">Products</a></li>
	<li><a href="product-details.html">Product Details</a></li> 
	<li><a href="checkout.html">Checkout</a></li> 
	<li><a href="cart.html">Cart</a></li> 
	<li><a href="login.html">Login</a></li> 
</ul>
</li> 
<li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
<ul role="menu" class="sub-menu">
    <li><a href="blog.html">Blog List</a></li>
	<li><a href="blog-single.html">Blog Single</a></li>
</ul>
</li> 
<li><a href="404.html">404</a></li>
<li><a href="contact-us.html">Contact</a></li>
{% endblock %}